
<h1>Greetings <%= @name %></h1> <!--dah haywadeeny ll names elly fii el action bta3 el controler-->
<p>The time now is <%= @time %></p>
<p> this page has been viewed <%= @time_displayed%> times </p>
